@model SampleProjectLeave.Models.InsertEmpLeaveMaster

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Leave Apply</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script language="javascript">
        $(document).ready(function () {
            $("#LeaveAppliedDate").datepicker({
                minDate: 0
            });
        });
    </script>
    <script language="javascript">
        $(document).ready(function () {
            $("#btnreset").click(function () {
                $("#LeaveAppliedDate").val("");
                $("#EmpCode").val("");


            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#EmpCode").on("change", function () {
                $.ajax(
                    {
                        url: '/Employee/GetEmployeeDetails?EmpCode=' + $('#EmpCode option:selected').val(),
                        type: 'GET',
                        data: "",
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {

                            $("#leaveelig").text(result[0].LeaveEligibility);
                            $("#leavebalnce").text(result[0].LeaveBalance);
                        }
                    });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#btnsubmit").click(function () {
                $.ajax(
                    {
                        type: "POST",
                        url: "/Employee/EmployeeInsert",
                        data: { 
                            EmpCode: $("#EmpCode").val(), 
                            LeaveAppliedDate: $("#LeaveAppliedDate").val()
                        },
                      
                        success: function (result) {
                            debugger;
                            $("#leavebalnce").text(result);
                        }
                    });

            });
        });

    </script>


</head>
<body>
   
        <div>
            <table class="table table-striped">
                <tr>
                    <td style="font-size:medium;font-weight:bold">@Html.Label("Employee Name : ")</td>
                    <td>
                        @Html.DropDownListFor(x => x.EmpCode, new SelectList(ViewBag.EmpDetails, "EmpCode", "EmpName"), "--Select EmpName--", new { @class = "form-control datepicker" })
                        @Html.ValidationMessageFor(m => m.EmpCode, "", new { @class = "text-danger" })
                    </td>
                     
                    <td style="font-size:large;font-weight:bold">@Html.Label("Leave Date : ")</td>
                    <td>
                        @Html.EditorFor(x => x.LeaveAppliedDate, new { htmlAttributes = new { placeholder = "mm/dd/yyyy" } })
                        @Html.ValidationMessageFor(m => m.LeaveAppliedDate,"", new { @class = "text-danger " })
                    </td>
                    <td><input type="button" id="btnsubmit" name="Apply" value="Apply" /> </td>
                    <td><input type="button" id="btnreset" name="Reset" value="Reset" /> </td>
                </tr>
              
                

            </table>
            <table>
                <tr>
                    <td style="font-size:medium;font-weight:bold">
                     @Html.Label("LeaveEligibility : ")
                    <label id="leaveelig"></label>
                    </td>
                  
                </tr>
                <tr>
                    <td style="font-size:medium;font-weight:bold">
                        @Html.Label("Leave Balance : ")
                        <label id="leavebalnce" style="color:red"></label>
                    </td>
                </tr>
                <tr>
                    @if (ViewBag.Details != null)
                    {
                        @Html.ValidationMessage((string)ViewBag.Details);
                    }

                </tr>
            </table>
           
        </div>


    


    </body>
</html>
